@{
    ViewData["Title"] = "About Me";
}

<style>
    .content {
        direction: rtl;
        text-align: right;
    }

    .title__separate::before, .title__separate::after {
        right: 0;
    }

    .title{
        font-family: Vazir;
    }
</style>

<div class="content">
    <!-- About -->
    <div class="section mt-0">
        <h1 class="title title--h1 title__separate">درباره من</h1>
        <div class="pt-2 pt-sm-3">
            <p class="mb-0">
                من یک توسعه‌دهنده بک‌اند مستقل با تخصص کامل در C#، .NET Core، PHP و Python هستم. به همراه مهارت‌های فرانت‌اند در HTML، CSS و جاوا اسکریپت، در کار با تمام بخش‌های توسعه مهارت دارم. اشتیاق زیادی به طراحی معماری‌های بک‌اند مقیاس‌پذیر، ساخت RESTfulAPIها و ارائه راه‌حل‌های نرم‌افزاری کارآمد که چالش‌های دنیای واقعی را برطرف می‌کنند، دارم.
            </p>
        </div>
    </div>

    <!-- What -->
    <div class="section">
        <h2 class="title title--h2 title__separate">خدمات من</h2>
        <div class="row">
            <!-- Case Item -->
            <div class="col-12 col-lg-6 case-item-wrap">
                <div class="case-item" style="height: 190.7px;">
                    <img class="case-item__icon" src="../assets/icons/icon-design.svg" alt="">
                    <h3 class="title title--h3">طراحی وب</h3>
                    <p class="case-item__caption">ایجاد رابط کاربری جذاب و واکنش‌گرا با استفاده از HTML، CSS و JavaScript برای تجربه کاربری روان.</p>
                </div>
            </div>

            <!-- Case Item -->
            <div class="col-12 col-lg-6 case-item-wrap">
                <div class="case-item" style="height: 190.7px;">
                    <img class="case-item__icon" src="../assets/icons/icon-dev.svg" alt="">
                    <h3 class="title title--h3">توسعه وب</h3>
                    <p class="case-item__caption">پیاده‌سازی وب‌اپلیکیشن‌های حرفه‌ای با معماری‌های مقیاس‌پذیر و بهینه با استفاده از .NET Core، PHP و Python.</p>
                </div>
            </div>

            <!-- Case Item -->
            <div class="col-12 col-lg-6 case-item-wrap">
                <div class="case-item" style="height: 190.7px;">
                    <img class="case-item__icon" src="../assets/icons/icon-app.svg" alt="">
                    <h3 class="title title--h3">API نویسی و یکپارچه‌سازی</h3>
                    <p class="case-item__caption">طراحی و توسعه RESTful APIها برای اتصال سیستم‌ها، تبادل داده و ارائه راه‌حل‌های کارآمد در مقیاس بزرگ.</p>
                </div>
            </div>

            <!-- Case Item -->
            <div class="col-12 col-lg-6 case-item-wrap">
                <div class="case-item" style="height: 190.7px;">
                    <img class="case-item__icon" src="../assets/icons/icon-photo.svg" alt="">
                    <h3 class="title title--h3">طراحی معماری بک‌اند</h3>
                    <p class="case-item__caption">ایجاد زیرساخت نرم‌افزاری پایدار، ایمن و مقیاس‌پذیر متناسب با نیازهای پروژه‌های مختلف.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Clients -->
    <div class="section">
        <h2 class="title title--h2">مشتری ها</h2>
        <div class="swiper-container js-carousel-clients swiper-container-initialized swiper-container-horizontal">
            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                <!-- Item client -->
                <div class="swiper-slide swiper-slide-active" style="width: 150px; margin-right: 30px;">
                    <a href="#"><img src="../assets/img/logo-partner.svg" alt="Logo"></a>
                </div>

                <!-- Item client -->
                <div class="swiper-slide swiper-slide-next" style="width: 150px; margin-right: 30px;">
                    <a href="#"><img src="../assets/img/logo-partner.svg" alt="Logo"></a>
                </div>

                <!-- Item client -->
                <div class="swiper-slide" style="width: 150px; margin-right: 30px;">
                    <a href="#"><img src="../assets/img/logo-partner.svg" alt="Logo"></a>
                </div>

                <!-- Item client -->
                <div class="swiper-slide" style="width: 150px; margin-right: 30px;">
                    <a href="#"><img src="../assets/img/logo-partner.svg" alt="Logo"></a>
                </div>
            </div>

            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-lock"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
</div>